<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>  
    <script src="/static/js/api_call.js"></script>
    <title>Visits</title>
</head>
<body>
    Dear {{user}} <br>
    Number of site visits: <input type="text" id="all_count" value={{all_count}}> <br>
    {% if user.is_active %}
        Number of your visits: <input type="text" id="your_count" value={{your_count}}> <br>
        <a href="admin_logout">Logout</a>
    {% else %}
        <a href="admin_login">Login</a>
    {% endif %}

    <input type="button" onclick="fetch_all_count()" value="All">
    <input type="button" onclick="fetch_your_count()" value="Your">
</body>
</html>